<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Managament</title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/time.js"></script>

    <!--Custom icons for this template-->
    <link rel="stylesheet" 
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<body id="page-top" onload="getTime()">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-text mx-3">UPTOWN <sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <span class="material-symbols-outlined" style="font-size:21px;">
                        insert_chart
                        </span>
                    <span>Dashboard</span></a>
                    
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading" style="font-size:13px;">
                Management
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <span class="material-symbols-outlined" style="font-size:21px;">
                        manage_accounts
                        </span>
                    <span>MES</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">MES : </h6>
                        <a class="collapse-item" href="{% url 'production' %}">Production Management</a>
                        <a class="collapse-item" href="{% url 'quality' %}">Quality Management</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <span class="material-symbols-outlined" style="font-size:21px;">
                        sms
                        </span>
                    <span>BPS</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">BPS :</h6>
                        <a class="collapse-item" href="{% url 'todos:combined-tasks' %}">Cooperative Work</a>
                        <a class="collapse-item" href="{% url 'business_management:business_management' %}">Business Managament
                        </a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading" style="font-size:13px;">
                About Us
            </div>

        
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <span class="material-symbols-outlined" style="font-size:21px;">
                        apartment
                        </span>
                    <span>Introduction</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Company : </h6>
                        <a class="collapse-item" href="{% url 'overview' %}">Overview</a>
                        <a class="collapse-item" href="{% url 'crew' %}">Our Crew</a>
                        <a class="collapse-item" href="{% url 'location' %}">How to Find Us</a>
                        <a class="collapse-item" href="{% url 'inquiry' %}">Inquiries</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'users:login' %}" data-toggle="collapse" data-target="#collapsePage"
                    aria-expanded="true" aria-controls="collapsePage">
                    <span class="material-symbols-outlined" style="font-size:21px;">
                        login
                        </span>
                    <span>Log In</span>
                </a>
                <div id="collapsePage" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="{% url 'users:login' %}">Login</a>
                        <a class="collapse-item" href="{% url 'users:signup' %}">Register</a>
                        <div class="collapse-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            Logout
                        </a>
                 
                    </div>
                </div>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>



        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Time -->
                    <div>
                        <h2 id = "realtimeclock"></h2>
                    </div>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"> {{ user.username }}</span>
                                <img class="img-profile rounded-circle" src="https://picsum.photos/seed/{{comment.author}}/30/30">
                                
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                
                                <a class="dropdown-item" href="{% url 'users:login' %}">
                                    <i class="fas fa-sign-in-alt mr-2 text-gray-400"></i>
                                    Log In
                                </a>
                                <a class="dropdown-item" href="{% url 'users:signup' %}">
                                    <i class="fas fa-registered mr-2 text-gray-400"></i>
                                    Register
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                                
                            </div>
                        </li>
                        {% endif %}
                    </ul>

                </nav>
                <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-1 text-gray-800">Post</h1>
                <!-- Content Row -->
                <div class="row justify-content-center">
                    <!-- Blog Post -->
                    <div class="col-10">
                        <div class="card my-4 py-3">                             
                            <h1 class = "mt-4 ml-5"> Title : " {{post.title}} " </h1><br>
                            <h5 class = "text_muted ml-5"> Subtitle : {{ post.hook_text }} </h5> <hr>
                            <!--Datetime & author-->
                            <p class="ml-5"> {{post.created_at}} 　by {{ post.author | upper }} 
                                {% if user.is_authenticated and user == post.author %} 
                                    <a class = "btn btn-info btn-sm float-right mr-5" href ="{% url 'business_management:postupdate' post.pk %}"
                                    role = "button"><i class= "fas fa-pen"></i> Edit Post </a>
                                {% endif %}
                                {% if post.file_upload %}
                                    <a href = "{{ post.file_upload.url }}" class = "btn btn-outline-dark btn-sm float-right" role = "button" download> Download :
                                    {% if post.get_file_ext == 'csv' %}
                                        <i class="fas fa-file-csv" alt="{{ post.get_file_name }}"></i>
                                    {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == "xls" %}
                                        <i class="fas fa-file-excel" alt="{{ post.get_file_name }}"></i>
                                    {% elif post.get_file_ext == "docx" or post.get_file_ext == "doc" %}
                                        <i class="fas fa-file-word" alt="{{ post.get_file_name }}"></i>
                                    {% elif post.get_file_ext == "pdf" %}
                                        <i class="fas fa-file-pdf" alt="{{ post.get_file_name }}"></i>
                                    {% elif post.get_file_ext == "zip" %}
                                        <i class="fas fa-file-archive" alt="{{ post.get_file_name }}"></i>
                                    {% else %}
                                        <i class="fas fa-file" alt="{{ post.get_file_name }}"></i>
                                    {% endif %}   
                                    </a>
                                {% endif %}
                            </p><hr>
                        
                            <div class = "card-body">
                            <!-- preview image -->
                            {% if post.head_image %}
                                <img class = "img-fluid rounded ml-5" src = "{{ post.head_image.url }}" alt="">
                                <hr>
                            {% endif %}
                
                            <!--post content -->
                            <p class="ml-5"> {{post.content}} </p>
                        </div>
                        <hr>
            
                    <!--leave comment area-->
                    <div id="comment-area">
                        <div class = "card my-4">
                            <h5 class = "card-header"> Leave a Comment : </h5>
                            <div class = "card-body">
                                <form id = "comment-form" method = "POST" action = "{% url 'business_management:comment' post.id %}"
                                enctype="multipart/form-data">
                                    {% csrf_token %} 
                                    <div class = "form-group">
                                        <textarea class = "form-control" rows = "3" name="content"></textarea>
                                    </div>
                                    <button type = "submit" class = "btn btn-primary float-right "> Submit </button>
                                </form>
                            </div>
                        </div>

                        <!--single comment area-->
                        {% for comment in post.comments.all %}
                            {% if user.is_authenticated and comment.author != user %}
                                <div class="media mb-3" id="comment-{{comment.pk}}">
                                    <img class="d-flex ml-3 mr-3 rounded-circle" src="https://picsum.photos/seed/{{comment.author}}/30/30">
                                    <h5 class="mt-0"> {{ comment.author.username }}
                                        <small class="text-muted"> {{ comment.created_at }} </small>
                                    </h5>
                                </div>
                                <div class="media-body ml-5 mb-5">
                                    <p> {{ comment.content | linebreaks }} </p>
                                    {% if comment.created_at != comment.modified_at %}
                                        <p class="text_muted float-right mr-3"><small> Updated : {{comment.modified_at}} </small></p>
                                    {% endif %}
                                </div>
                            {% elif user.is_authenticated and comment.author == user %}
                                <div class="media mb-3" id="comment-{{comment.pk}}">
                                    <img class="d-flex ml-3 mr-3 rounded-circle" src="https://picsum.photos/seed/{{comment.author}}/30/30">
                                    <h5 class="mt-0"> {{ comment.author.username }}
                                        <small class="text-muted"> {{ comment.created_at }} </small>
                                    </h5>
                                </div>
                                <div class="media-body mb-5">
                                    <!-- edit 이랑 delete 버튼 위치-->
                                    <div class="float-right mr-3">
                                        <a role="button"
                                            class="btn btn-sm btn-info"
                                            id="comment-{{ comment.pk }}-update-btn"
                                            href="{% url 'business_management:commentupdate' comment.id %}">
                                            Edit
                                        </a>
                                        <a role="button"
                                            class="btn btn-sm btn-danger"
                                            id="comment-{{ comment.pk }}-delete-modal-btn"
                                            data-toggle = "modal" data-target = "#deleteCommentModal-{{ comment.pk }}"
                                            href="#">
                                            Delete
                                        </a>
                                    </div>
                                    <!-- modal -->
                                    <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1" 
                                        role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Are You Sure to Delete it?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>{{ comment.content | safe  }}</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary" 
                                                    onclick="location.href='{% url 'business_management:commentdelete'  comment.id %}'">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="media-body ml-5">
                                        <p> {{ comment.content | linebreaks }} </p>
                                        {% if comment.created_at != comment.modified_at %}
                                            <p class="text_muted float-right mr-3"><small> Updated : {{comment.modified_at}} </small></p>
                                        {% endif %}
                                    </div>    
                                </div>
                            {% else %}
                                <h6 class="ml-5"> No Comment Yet </h6>
                            {% endif %}
                        {% empty %}
                            <h6 class="ml-5"> No Comment Yet </h6>
                        {% endfor %}
                    </div> 
                    <!-- End of comment -->         
                </div>   
                <!-- End of Blog Post -->
            </div>
                <!-- /.container-fluid -->
        </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Uptown Website 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
                        
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'users:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

</body>

</html>